.hudComponent {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 5;
    background-color: transparent;
    height: auto;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 4.5vh;
    -webkit-font-smoothing: antialiased;
}   

.lnk:link, .lnk:visited, .lnk:hover, .lnk:active {
    color: white;
    text-decoration: none;
}

.dropdownContent {
    display: none;
    position: fixed;
    background-color: transparent;
}

.hudComponent:hover .dropdownContent {
    display: block;
}