.page {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;

}

.container {
    position: relative;
    display: flex;
    height: 100vh;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: auto;
    align-items: center; 
    
}

.container::-webkit-scrollbar {
    display: none;
}

.imgs {
    height: 100vh;
}